<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8 center-block">
        <h3>Update info.</h3>
        <hr />
        <%= render 'form' %>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
