<div class="jumbotron text-left">
  <h1>About</h1>
  <p>
    PeaceBot is an eChai venture, an established and popular entrepreneurial venture.
    There is a need for a common platform to resolve conflicts in ideology between people, communities and countries around the world. PeaceBot is a platform to resolve such conflicts with the use of technology in a tactical manner. PeaceBot helps people to communicate with friends and send them gifts in various forms, with whom they want to revive their friendship. They can send messages, gifts, Peace bands and other PeaceBot goodies knowingly or anonymously.
  </p>
  <p>
    Users of PeaceBot have to integrate their TwitterTM and FaceBookTM account for registration. They can vote on popular conflict on board as well as in their group of friends. An ideal timeline for the popular conflicts will be created to show what ideally should have happened and the actual progress of the conflict.
  </p>
  <p>
    So get started to revive friendship between your beloved friends.
  </p>
</div>
