<div class="jumbotron text-left">
  <p class="lead">PeaceBot helps to communicate with friends and to revive their friendships &mdash; knowingly or anonymously.</p>
  <%= render partial: 'posts/form' %>
</div>
